@{
    ViewBag.Title = "Hirerachy";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<h2>
    The Supreme Authority</h2>
    Can. 17. The Lord so willed to choose St. Peter to found His Church on him5 to confirm the other disciples in faith6, and to shepherd the flock.7 Therefore, the Supreme Authority of the Catholic Church is the Roman Pontiff, the Successor of Peter, and all the Bishops in communion with him who exercise their power in an Ecumenical Council with due regard for canon 15 of this Code.
    <h2>
    The Hierarchy of the Syro-Malankara Catholic Church</h2>
    Can. 18.  The Father and Head (pater et caput) of the Syro-Malankara Catholic Church is the Major Archbishop-Catholicos, canonically elected in and by the Holy Episcopal Synod of this Church and duly confirmed by the Roman Pontiff. He succeeds to the Apostolic See of St. Thomas in India. According to the ancient tradition of the ‘St. Thomas Christians’ ,the Hierarchical Head enjoyed the title of ‘The Metropolitan of all India’.
    Can. 19. The Holy Episcopal Synod of the Syro-Malankara Catholic Church is the assembly of all the ordained Bishops of this Church and is presided over by the Major Archbishop-Catholicos. It exercises power over this Church according to the norms of the Code of Canons of the Eastern Churches, and this Code of Particular Canons of the Syro-Malankara Church.
    <h2>
    The Major Archbishop-Catholicos
        </h2>
            Can. 20.  The Major Archbishop-Catholicos in the Syro-Malankara Catholic Church is the Father and Head of this Church.  He shepherds the Church in charity and communion. He receives the title “Moran Mor8 Baselios9 (N) Catholicos”.10 He retains the name that he received at the time of episcopal ordination. The See of the Major Archbishop-Catholicos is the Major Archieparchy of Trivandrum. The Insignia of the Major Archbishop–Catholicos shall be a pectoral cross in the centre and two medals with the icons of the Blessed Virgin Mary, the Mother of God and St. Thomas, the Apostle of India (Enkolpion), and a Mudithoppi with a cross at the top.
            Can. 21. In the Universal Church, the Major Archbishop-Catholicos holds precedence of honour immediately after the Patriarchs and among the Major Archbishops, according to the order in which their Churches were elevated to the hierarchical status of the Major Archiepiscopal Churches.
            Can. 22. A Major Archbishop-Catholicos, who actually possesses major archiepiscopal power, precedes a Major Archbishop-Catholicos Emeritus.11
          <h2>
    BISHOPS
              </h2>
                  Can. 71. An eparchial Bishop is the one who has concern for the interests of the faithful entrusted to his paternal care and the one who watches responsibly over their spiritual life. The eparchial Bishop represents Christ and takes care of the flock of Christ in the Eparchy.1
                  Can. 72. An Eparchy2 in the Syro-Malankara Catholic Church is a definite portion of the people of God which is entrusted to the pastoral care of a Bishop with the co-operation of the presbyters. By adhering to its Bishop and gathered together by him through the Gospel and the divine Eucharist in the Holy Spirit, it constitutes an Eparchy, in which the one, holy, catholic, and apostolic Church of Christ is truly present and operative.3 In the Syrian tradition, the term mar’ito is used to designate an Eparchy, which signifies “pasture”.4
                  Can. 73. An Eparchy is a fundamental ecclesial unit which includes all the constituent elements of the Church such as Bishop, presbyters, deacons, religious, faithful, sacraments especially the divine Eucharist, the proclamation of the Word and the Holy Spirit.
                  Can. 74. Within the territorial boundaries of the Syro-Malankara Catholic Church, the Major Archbishop-Catholicos, with the consent of the Holy Episcopal Synod, having consulted the Apostolic See of Rome, can establish eparchies, modify their boundaries, unite, divide, suppress and modify their hierarchical status and transfer the eparchial see.
                <h2>
    Auxiliary Bishops
                    </h2>
                        Can. 88.  Auxiliary bishops can be appointed for the pastoral needs of the Eparchy upon the request of the eparchial Bishop. The rights and obligations of the auxiliary bishops are those established by common law. The appointment and the rights and obligations of coadjutor bishops are in accordance with common law and are defined in the letter of canonical provision.12
                      <h2>
    Exarchs</h2>
    1o The Exarch governs the Exarchy either in the name of one who appoints him or in his own name. This must be established in the erection or modification of the Exarchy;
    2o An Exarch retains the privileges and insignia after he has carried out his function.13
