@model ContentPlus.Models.Priest
@{
    ViewBag.Title = "MajorArchBishop";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<h2>
    @Html.DisplayFor(model => model.Name)
</h2>
<h6>
    @Html.DisplayFor(model => model.Field1)
</h6>
<br />
<div>
    <img src="@Url.Content(Model.Photo)" alt="" style="border: 1px solid #337ab7; padding: 5px 5px 5px 5px" />
</div>
<br />
<div>
    @Html.Raw(HttpUtility.HtmlDecode(Model.LongDesc))
</div>
