@model ContentPlus.Models.Eparchy
@{
    ViewBag.Title = "UKEparchy";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div>
    @Html.Raw(HttpUtility.HtmlDecode(Model.Description))
</div>

