@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-xs-8 col-xxs">
            <h1 class="h1">Photo Gallery</h1>
            <div class="row">

                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/1a.jpg" class="thumbnail fancybox"><img src="images/gallery/1a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/2a.jpg" class="thumbnail fancybox"><img src="images/gallery/2a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/3a.jpg" class="thumbnail fancybox"><img src="images/gallery/3a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/4a.jpg" class="thumbnail fancybox"><img src="images/gallery/4a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/5a.jpg" class="thumbnail fancybox"><img src="images/gallery/5a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/6a.jpg" class="thumbnail fancybox"><img src="images/gallery/6a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/7a.jpg" class="thumbnail fancybox"><img src="images/gallery/7a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/8a.jpg" class="thumbnail fancybox"><img src="images/gallery/8a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/9a.jpg" class="thumbnail fancybox"><img src="images/gallery/9a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/10a.jpg" class="thumbnail fancybox"><img src="images/gallery/10a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/11a.jpg" class="thumbnail fancybox"><img src="images/gallery/11a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/12a.jpg" class="thumbnail fancybox"><img src="images/gallery/12a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/13a.jpg" class="thumbnail fancybox"><img src="images/gallery/13a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/14a.jpg" class="thumbnail fancybox"><img src="images/gallery/14a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/15a.jpg" class="thumbnail fancybox"><img src="images/gallery/15a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/16a.jpg" class="thumbnail fancybox"><img src="images/gallery/16a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/17a.jpg" class="thumbnail fancybox"><img src="images/gallery/17a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/18a.jpg" class="thumbnail fancybox"><img src="images/gallery/18a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/19a.jpg" class="thumbnail fancybox"><img src="images/gallery/19a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/20a.jpg" class="thumbnail fancybox"><img src="images/gallery/20a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/21a.jpg" class="thumbnail fancybox"><img src="images/gallery/21a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/22a.jpg" class="thumbnail fancybox"><img src="images/gallery/22a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/23a.jpg" class="thumbnail fancybox"><img src="images/gallery/23a.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/24a.jpg" class="thumbnail fancybox"><img src="images/gallery/24a.jpg" width="215" height="140" class="img-responsive"></a></div>

                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/1.jpg" class="thumbnail fancybox"><img src="images/gallery/1.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/2.jpg" class="thumbnail fancybox"><img src="images/gallery/2.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/3.jpg" class="thumbnail fancybox"><img src="images/gallery/3.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/4.jpg" class="thumbnail fancybox"><img src="images/gallery/4.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/5.jpg" class="thumbnail fancybox"><img src="images/gallery/5.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/6.jpg" class="thumbnail fancybox"><img src="images/gallery/6.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/7.jpg" class="thumbnail fancybox"><img src="images/gallery/7.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/8.jpg" class="thumbnail fancybox"><img src="images/gallery/8.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/9.jpg" class="thumbnail fancybox"><img src="images/gallery/9.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/10.jpg" class="thumbnail fancybox"><img src="images/gallery/10.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/11.jpg" class="thumbnail fancybox"><img src="images/gallery/11.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/12.jpg" class="thumbnail fancybox"><img src="images/gallery/12.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/13.jpg" class="thumbnail fancybox"><img src="images/gallery/13.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/14.jpg" class="thumbnail fancybox"><img src="images/gallery/14.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/15.jpg" class="thumbnail fancybox"><img src="images/gallery/15.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/16.jpg" class="thumbnail fancybox"><img src="images/gallery/16.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/17.jpg" class="thumbnail fancybox"><img src="images/gallery/17.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/18.jpg" class="thumbnail fancybox"><img src="images/gallery/18.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/19.jpg" class="thumbnail fancybox"><img src="images/gallery/19.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/20.jpg" class="thumbnail fancybox"><img src="images/gallery/20.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/21.jpg" class="thumbnail fancybox"><img src="images/gallery/21.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/22.jpg" class="thumbnail fancybox"><img src="images/gallery/22.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/23.jpg" class="thumbnail fancybox"><img src="images/gallery/23.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/24.jpg" class="thumbnail fancybox"><img src="images/gallery/24.jpg" width="215" height="140" class="img-responsive"></a></div>
                <div class="col-xs-4 col-xxs"><a data-fancybox-group="gallery" href="images/gallery/25.jpg" class="thumbnail fancybox"><img src="images/gallery/25.jpg" width="215" height="140" class="img-responsive"></a></div>
            </div>
        </div>
</div>
</div>
@*<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type='text/javascript' src='js/jquery-migrate.min.js'></script>
<script src="js/bootstrap.min.js"></script>*@


<script language=Javascript>
<!--
function isNumberKey(evt)
{
var charCode = (evt.which) ? evt.which : event.keyCode
if (charCode > 31 && (charCode < 48 || charCode > 57))
return false;

return true;
}
//-->
</script>
<script type="text/javascript" src="fbox/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="fbox/jquery.fancybox.css?v=2.1.5" media="screen" />
<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            wrapCSS: 'fancybox-custom',
            closeClick: true,
            openEffect: 'elastic',
            closeEffect: 'elastic',
            helpers: {
                title: {
                    type: 'inside'
                },
                overlay: {
                    css: {
                        'background': 'rgba(238,238,238,0.85)'
                    }
                }
            }
        });
    });
</script>